.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-content-main);
  border-radius: var(--radius-small);
  color: var(--color-home-white);
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.button {
  flex: 1;
}
