.detailsContainer {
  padding: 18px 16px;
  background-color: var(--color-home-grey);
  min-height: 100vh;
  margin-top: 14px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 65px;
}

.backLink {
  position: absolute;
  left: 0;
  padding-left: 16px;
}
