.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 18px 16px;
  background-color: var(--color-home-grey);
  margin-top: 14px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 65px;
}

.backLink {
  position: absolute;
  left: 0;
  padding-left: 16px;
}

.coverImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--radius-medium);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoSpan {
  color: var(--color-content-add);
}
