.header {
  margin-bottom: 24px;
}

.mobileFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: var(--footer-h);
}

.appContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--footer-h);
  position: relative;
  flex: 1;
}
