.header {
  margin-bottom: 12px;
}

.mobileFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: var(--footer-h);
}

.appContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  min-height: calc(100vh - var(--footer-h));
  position: relative;
}
