.fullname {
  text-align: center;
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--color-home-grey);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 16px 10px;
  border-radius: var(--radius-small);
  background-color: var(--color-home-grey);
}
