.card {
  display: flex;
  flex-direction: column;

  background-color: var(--color-content-main);
  max-width: 100%;
  color: var(--color-home-white);
  border-radius: var(--radius-medium);
  gap: 10px;
}

.image {
  border-radius: var(--radius-medium);
  object-fit: cover;
  height: 90px;
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 18px;
  flex-grow: 1;
}

.contentMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.title {
  word-wrap: break-word;
}

.badges {
  display: flex;
  gap: 12px;
}

.badge {
  background-color: var(--color-content-accent);
  padding: 8px;
  padding-right: 40px;
  clip-path: polygon(0 0, 90% 0, 80% 50%, 90% 100%, 0 100%);
  border-radius: 3px;
}
