:root {
  --background: #ffffff;
  --foreground: #25242c;

  --color-content-accent: #ca3b4c;
  --color-content-main: #25242c;
  --color-content-add: #929195;

  --color-home-grey: #f2f3f5;
  --color-home-white: #ffffff;

  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-acrom: var(--font-acrom);
  --font-acrom-medium: var(--font-acrom-medium);
  --font-acrom-bold: var(--font-acrom-bold);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-acrom);
  padding: 32px 0;
}

.container {
  padding: 0 16px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 16px;
}

p {
  margin: 0;
}

.content-accent {
  color: var(--color-content-accent);
}
.content-main {
  color: var(--content-main-color);
}
.content-add {
  color: var(--color-content-add);
}
.home-grey {
  background: var(--color-home-grey);
}
.home-white {
  background: var(--color-home-white);
}

.font-body-small {
  font-family: Acrom;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-body-medium {
  font-family: Acrom;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-body-medium-bold {
  font-family: Acrom;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-body-normal {
  font-family: Acrom;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-body-normal-bold {
  font-family: Acrom;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-header-medium {
  font-family: Acrom;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-header-large {
  font-family: var(--font-acrom-bold);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.button-large {
  font-family: var(--font-acrom-medium);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  text-align: center;
  background-color: var(--color-content-accent);
  color: white;
  border: none;
  border-radius: var(--radius-medium);
  cursor: pointer;
  padding: 12px 0;
}

.button-small {
  font-family: var(--font-acrom-large);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;

  text-align: center;
  background-color: var(--color-content-accent);
  color: white;
  border: none;
  border-radius: var(--radius-large);
  cursor: pointer;
  padding: 12px 0;
}
