.grid {
  max-width: 100%;
}

.gridView {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  column-gap: 16px;
  row-gap: 12px;
}

.listView {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
